In [83]:
import json
import pandas as pd

In [84]:
with open("/Users/sandeep.jaiswal/PycharmProjects/cric-service/data.json","r") as fp:
    data =json.load(fp)

In [85]:
data

{'Test # 2339': {'4s': '4',
  'Bat1': '23',
  'Opposition': 'v Australia',
  'Bat2': '-',
  'Start Date': '3 Jan 2019',
  'Ground': 'Sydney',
  'BF': '59',
  'Runs': '23',
  'SR': '38.98',
  '6s': '0'},
 'Test # 2294': {'Start Date': '24 Jan 2018',
  'Ground': 'Johannesburg',
  'BF': '185',
  'Runs': '95',
  'SR': '51.35',
  '6s': '0',
  '4s': '15',
  'Bat1': '54',
  'Opposition': 'v South Africa',
  'Bat2': '41'},
 'Test # 2363': {'Ground': 'Visakhapatnam',
  'Runs': '51',
  'BF': '65',
  '6s': '1',
  'SR': '78.46',
  '4s': '7',
  'Opposition': 'v South Africa',
  'Bat1': '20',
  'Bat2': '31*',
  'Start Date': '2 Oct 2019'},
 'Test # 2358': {'4s': '4',
  'Opposition': 'v West Indies',
  'Bat1': '9',
  'Bat2': '51',
  'Start Date': '22 Aug 2019',
  'Ground': 'North Sound',
  'Runs': '60',
  'BF': '125',
  '6s': '0',
  'SR': '48.00'},
 'Test # 2359': {'4s': '10',
  'Opposition': 'v West Indies',
  'Bat1': '76',
  'Bat2': '0',
  'Start Date': '30 Aug 2019',
  'Ground': 'Kingston',
  'Runs': '76',
  'BF': '164',
  '6s': '0',
  'SR': '46.34'},
 'Test # 2364': {'Start Date': '10 Oct 2019',
  'Ground': 'Pune',
  'BF': '336',
  'Runs': '254',
  'SR': '75.59',
  '6s': '2',
  '4s': '33',
  'Bat1': '254*',
  'Opposition': 'v South Africa',
  'Bat2': '-'},
 'Test # 2365': {'Bat1': '12',
  'Opposition': 'v South Africa',
  'Bat2': '-',
  'Start Date': '19 Oct 2019',
  'Ground': 'Ranchi',
  'BF': '22',
  'Runs': '12',
  'SR': '54.54',
  '6s': '0',
  '4s': '2'},
 'Test # 2019': {'Start Date': '22 Nov 2011',
  'Ground': 'Mumbai',
  'BF': '225',
  'Runs': '115',
  '6s': '1',
  'SR': '51.11',
  '4s': '8',
  'Opposition': 'v West Indies',
  'Bat1': '52',
  'Bat2': '63'},
 'Test # 2025': {'Start Date': '26 Dec 2011',
  'Ground': 'Melbourne',
  'BF': '22',
  'Runs': '11',
  '6s': '0',
  'SR': '50.00',
  '4s': '1',
  'Opposition': 'v Australia',
  'Bat1': '11',
  'Bat2': '0'},
 'Test # 2031': {'4s': '13',
  'Bat1': '116',
  'Opposition': 'v Australia',
  'Bat2': '22',
  'Start Date': '24 Jan 2012',
  'Ground': 'Adelaide',
  'BF': '275',
  'Runs': '138',
  '6s': '1',
  'SR': '50.18'},
 'Test # 2027': {'Opposition': 'v Australia',
  'Bat1': '23',
  'Bat2': '9',
  'Start Date': '3 Jan 2012',
  'Ground': 'Sydney',
  'BF': '65',
  'Runs': '32',
  '6s': '0',
  'SR': '49.23',
  '4s': '5'},
 'Test # 2029': {'BF': '217',
  'Runs': '119',
  '6s': '0',
  'SR': '54.83',
  '4s': '15',
  'Opposition': 'v Australia',
  'Bat1': '44',
  'Bat2': '75',
  'Start Date': '13 Jan 2012',
  'Ground': 'Perth'},
 'Test # 1997': {'4s': '3',
  'Bat1': '4',
  'Opposition': 'v West Indies',
  'Bat2': '15',
  'Start Date': '20 Jun 2011',
  'Ground': 'Kingston',
  'BF': '64',
  'Runs': '19',
  'SR': '29.68',
  '6s': '0'},
 'Test # 1998': {'Start Date': '28 Jun 2011',
  'Ground': 'Bridgetown',
  'BF': '109',
  'Runs': '27',
  '6s': '1',
  'SR': '24.77',
  '4s': '1',
  'Opposition': 'v West Indies',
  'Bat1': '0',
  'Bat2': '27'},
 'Test # 1999': {'Opposition': 'v West Indies',
  'Bat1': '30',
  'Bat2': 'DNB',
  'Start Date': '6 Jul 2011',
  'Ground': 'Roseau',
  'BF': '53',
  'Runs': '30',
  '6s': '0',
  'SR': '56.60',
  '4s': '2'},
 'Test # 2101': {'Ground': 'Kolkata',
  'Runs': '3',
  'BF': '5',
  'SR': '60.00',
  '6s': '0',
  '4s': '0',
  'Bat1': '3',
  'Opposition': 'v West Indies',
  'Bat2': '-',
  'Start Date': '6 Nov 2013'},
 'Test # 2102': {'BF': '78',
  'Runs': '57',
  '6s': '0',
  'SR': '73.07',
  '4s': '5',
  'Bat1': '57',
  'Opposition': 'v West Indies',
  'Bat2': '-',
  'Start Date': '14 Nov 2013',
  'Ground': 'Mumbai'},
 'Test # 2054': {'4s': '8',
  'Opposition': 'v New Zealand',
  'Bat1': '58',
  'Bat2': '-',
  'Start Date': '23 Aug 2012',
  'Ground': 'Hyderabad (Deccan)',
  'Runs': '58',
  'BF': '107',
  '6s': '0',
  'SR': '54.20'},
 'Test # 2055': {'Start Date': '31 Aug 2012',
  'Ground': 'Bengaluru',
  'Runs': '154',
  'BF': '275',
  '6s': '1',
  'SR': '56.00',
  '4s': '23',
  'Opposition': 'v New Zealand',
  'Bat1': '103',
  'Bat2': '51*'},
 'Test # 2111': {'4s': '6',
  'Opposition': 'v South Africa',
  'Bat1': '46',
  'Bat2': '11',
  'Start Date': '26 Dec 2013',
  'Ground': 'Durban',
  'Runs': '57',
  'BF': '114',
  '6s': '0',
  'SR': '50.00'},
 'Test # 2062': {'Start Date': '23 Nov 2012',
  'Ground': 'Mumbai',
  'BF': '68',
  'Runs': '26',
  '6s': '0',
  'SR': '38.23',
  '4s': '4',
  'Bat1': '19',
  'Opposition': 'v England',
  'Bat2': '7'},
 'Test # 2058': {'Start Date': '15 Nov 2012',
  'Ground': 'Ahmedabad',
  'BF': '88',
  'Runs': '33',
  'SR': '37.50',
  '6s': '0',
  '4s': '6',
  'Bat1': '19',
  'Opposition': 'v England',
  'Bat2': '14*'},
 'Test # 2108': {'4s': '27',
  'Bat1': '119',
  'Opposition': 'v South Africa',
  'Bat2': '96',
  'Start Date': '18 Dec 2013',
  'Ground': 'Johannesburg',
  'BF': '374',
  'Runs': '215',
  'SR': '57.48',
  '6s': '0'},
 'Test # 2065': {'4s': '4',
  'Opposition': 'v England',
  'Bat1': '6',
  'Bat2': '20',
  'Start Date': '5 Dec 2012',
  'Ground': 'Kolkata',
  'Runs': '26',
  'BF': '84',
  '6s': '0',
  'SR': '30.95'},
 'Test # 2120': {'Start Date': '14 Feb 2014',
  'Ground': 'Wellington',
  'BF': '228',
  'Runs': '143',
  'SR': '62.71',
  '6s': '1',
  '4s': '19',
  'Bat1': '38',
  'Opposition': 'v New Zealand',
  'Bat2': '105*'},
 'Test # 2066': {'Ground': 'Nagpur',
  'BF': '295',
  'Runs': '103',
  'SR': '34.91',
  '6s': '0',
  '4s': '11',
  'Bat1': '103',
  'Opposition': 'v England',
  'Bat2': '-',
  'Start Date': '13 Dec 2012'},
 'Test # 2118': {'Start Date': '6 Feb 2014',
  'Ground': 'Auckland',
  'BF': '115',
  'Runs': '71',
  '6s': '0',
  'SR': '61.73',
  '4s': '13',
  'Bat1': '4',
  'Opposition': 'v New Zealand',
  'Bat2': '67'},
 'Test # 2074': {'4s': '15',
  'Bat1': '107',
  'Opposition': 'v Australia',
  'Bat2': 'DNB',
  'Start Date': '22 Feb 2013',
  'Ground': 'Chennai',
  'BF': '206',
  'Runs': '107',
  '6s': '1',
  'SR': '51.94'},
 'Test # 2130': {'Bat1': '25',
  'Opposition': 'v England',
  'Bat2': '0',
  'Start Date': '17 Jul 2014',
  'Ground': "Lord's",
  'BF': '35',
  'Runs': '25',
  'SR': '71.42',
  '6s': '0',
  '4s': '4'},
 'Test # 2076': {'BF': '92',
  'Runs': '34',
  '6s': '0',
  'SR': '36.95',
  '4s': '3',
  'Bat1': '34',
  'Opposition': 'v Australia',
  'Bat2': '-',
  'Start Date': '2 Mar 2013',
  'Ground': 'Hyderabad (Deccan)'},
 'Test # 2081': {'4s': '13',
  'Bat1': '67*',
  'Opposition': 'v Australia',
  'Bat2': '34',
  'Start Date': '14 Mar 2013',
  'Ground': 'Mohali',
  'BF': '190',
  'Runs': '101',
  'SR': '53.15',
  '6s': '1'},
 'Test # 2132': {'4s': '6',
  'Bat1': '39',
  'Opposition': 'v England',
  'Bat2': '28',
  'Start Date': '27 Jul 2014',
  'Ground': 'Southampton',
  'BF': '131',
  'Runs': '67',
  'SR': '51.14',
  '6s': '0'},
 'Test # 2128': {'Start Date': '9 Jul 2014',
  'Ground': 'Nottingham',
  'BF': '37',
  'Runs': '9',
  '6s': '0',
  'SR': '24.32',
  '4s': '1',
  'Bat1': '1',
  'Opposition': 'v England',
  'Bat2': '8'},
 'Test # 2134': {'Start Date': '7 Aug 2014',
  'Ground': 'Manchester',
  'Runs': '7',
  'BF': '13',
  '6s': '0',
  'SR': '53.84',
  '4s': '1',
  'Opposition': 'v England',
  'Bat1': '0',
  'Bat2': '7'},
 'Test # 2085': {'4s': '4',
  'Bat1': '1',
  'Opposition': 'v Australia',
  'Bat2': '41',
  'Start Date': '22 Mar 2013',
  'Ground': 'Delhi',
  'Runs': '42',
  'BF': '68',
  'SR': '61.76',
  '6s': '0'},
 'Test # 2137': {'4s': '3',
  'Opposition': 'v England',
  'Bat1': '6',
  'Bat2': '20',
  'Start Date': '15 Aug 2014',
  'Ground': 'The Oval',
  'Runs': '26',
  'BF': '72',
  '6s': '0',
  'SR': '36.11'},
 'Test # 2152': {'Ground': 'Melbourne',
  'BF': '371',
  'Runs': '223',
  '6s': '0',
  'SR': '60.10',
  '4s': '25',
  'Bat1': '169',
  'Opposition': 'v Australia',
  'Bat2': '54',
  'Start Date': '26 Dec 2014'},
 'Test # 2148': {'Start Date': '9 Dec 2014',
  'Ground': 'Adelaide',
  'BF': '359',
  'Runs': '256',
  '6s': '1',
  'SR': '71.30',
  '4s': '28',
  'Bat1': '115',
  'Opposition': 'v Australia',
  'Bat2': '141'},
 'Test # 2149': {'Start Date': '17 Dec 2014',
  'Ground': 'Brisbane',
  'Runs': '20',
  'BF': '38',
  '6s': '0',
  'SR': '52.63',
  '4s': '1',
  'Opposition': 'v Australia',
  'Bat1': '19',
  'Bat2': '1'},
 'Test # 2211': {'4s': '4',
  'Bat1': '44',
  'Opposition': 'v West Indies',
  'Bat2': '-',
  'Start Date': '30 Jul 2016',
  'Ground': 'Kingston',
  'BF': '90',
  'Runs': '44',
  'SR': '48.88',
  '6s': '1'},
 'Test # 2156': {'4s': '23',
  'Bat1': '147',
  'Opposition': 'v Australia',
  'Bat2': '46',
  'Start Date': '6 Jan 2015',
  'Ground': 'Sydney',
  'BF': '325',
  'Runs': '193',
  'SR': '59.38',
  '6s': '0'},
 'Test # 2207': {'Bat1': '200',
  'Opposition': 'v West Indies',
  'Bat2': '-',
  'Start Date': '21 Jul 2016',
  'Ground': 'North Sound',
  'BF': '283',
  'Runs': '200',
  'SR': '70.67',
  '6s': '0',
  '4s': '24'},
 'Test # 2215': {'Start Date': '9 Aug 2016',
  'Ground': 'Gros Islet',
  'Runs': '7',
  'BF': '25',
  'SR': '28.00',
  '6s': '0',
  '4s': '0',
  'Bat1': '3',
  'Opposition': 'v West Indies',
  'Bat2': '4'},
 'Test # 2165': {'Bat1': '14',
  'Opposition': 'v Bangladesh',
  'Bat2': '-',
  'Start Date': '10 Jun 2015',
  'Ground': 'Fatullah',
  'BF': '22',
  'Runs': '14',
  'SR': '63.63',
  '6s': '0',
  '4s': '2'},
 'Test # 2221': {'4s': '5',
  'Bat1': '9',
  'Opposition': 'v New Zealand',
  'Bat2': '18',
  'Start Date': '22 Sep 2016',
  'Ground': 'Kanpur',
  'BF': '50',
  'Runs': '27',
  'SR': '54.00',
  '6s': '0'},
 'Test # 2222': {'Ground': 'Kolkata',
  'BF': '93',
  'Runs': '54',
  '6s': '0',
  'SR': '58.06',
  '4s': '8',
  'Opposition': 'v New Zealand',
  'Bat1': '9',
  'Bat2': '45',
  'Start Date': '30 Sep 2016'},
 'Test # 2218': {'BF': '-',
  'Runs': '-',
  '6s': '-',
  'SR': '-',
  '4s': '-',
  'Bat1': 'TDNB',
  'Opposition': 'v West Indies',
  'Bat2': '-',
  'Start Date': '18 Aug 2016',
  'Ground': 'Port of Spain'},
 'Test # 2223': {'BF': '394',
  'Runs': '228',
  'SR': '57.86',
  '6s': '0',
  '4s': '21',
  'Bat1': '211',
  'Opposition': 'v New Zealand',
  'Bat2': '17',
  'Start Date': '8 Oct 2016',
  'Ground': 'Indore'},
 'Test # 2176': {'Bat1': '103',
  'Opposition': 'v Sri Lanka',
  'Bat2': '3',
  'Start Date': '12 Aug 2015',
  'Ground': 'Galle',
  'BF': '201',
  'Runs': '106',
  '6s': '0',
  'SR': '52.73',
  '4s': '11'},
 'Test # 2177': {'4s': '8',
  'Bat1': '78',
  'Opposition': 'v Sri Lanka',
  'Bat2': '10',
  'Start Date': '20 Aug 2015',
  'Ground': 'Colombo (PSS)',
  'BF': '126',
  'Runs': '88',
  '6s': '1',
  'SR': '69.84'},
 'Test # 2232': {'Runs': '89',
  'BF': '193',
  '6s': '0',
  'SR': '46.11',
  '4s': '11',
  'Opposition': 'v England',
  'Bat1': '40',
  'Bat2': '49*',
  'Start Date': '9 Nov 2016',
  'Ground': 'Rajkot'},
 'Test # 2179': {'Opposition': 'v Sri Lanka',
  'Bat1': '18',
  'Bat2': '21',
  'Start Date': '28 Aug 2015',
  'Ground': 'Colombo (SSC)',
  'BF': '123',
  'Runs': '39',
  '6s': '0',
  'SR': '31.70',
  '4s': '5'},
 'Test # 2235': {'Start Date': '17 Nov 2016',
  'Ground': 'Visakhapatnam',
  'BF': '376',
  'Runs': '248',
  '6s': '0',
  'SR': '65.95',
  '4s': '26',
  'Opposition': 'v England',
  'Bat1': '167',
  'Bat2': '81'},
 'Test # 2241': {'Opposition': 'v England',
  'Bat1': '15',
  'Bat2': '-',
  'Start Date': '16 Dec 2016',
  'Ground': 'Chennai',
  'Runs': '15',
  'BF': '29',
  '6s': '0',
  'SR': '51.72',
  '4s': '1'},
 'Test # 2191': {'4s': '17',
  'Opposition': 'v South Africa',
  'Bat1': '44',
  'Bat2': '88',
  'Start Date': '3 Dec 2015',
  'Ground': 'Delhi',
  'Runs': '132',
  'BF': '227',
  '6s': '0',
  'SR': '58.14'},
 'Test # 2186': {'BF': '75',
  'Runs': '30',
  'SR': '40.00',
  '6s': '0',
  '4s': '4',
  'Bat1': '1',
  'Opposition': 'v South Africa',
  'Bat2': '29',
  'Start Date': '5 Nov 2015',
  'Ground': 'Mohali'},
 'Test # 2238': {'Bat1': '62',
  'Opposition': 'v England',
  'Bat2': '6*',
  'Start Date': '26 Nov 2016',
  'Ground': 'Mohali',
  'BF': '138',
  'Runs': '68',
  '6s': '0',
  'SR': '49.27',
  '4s': '9'},
 'Test # 2188': {'4s': '-',
  'Bat1': 'DNB',
  'Opposition': 'v South Africa',
  'Bat2': '-',
  'Start Date': '14 Nov 2015',
  'Ground': 'Bengaluru',
  'BF': '-',
  'Runs': '-',
  '6s': '-',
  'SR': '-'},
 'Test # 2189': {'4s': '4',
  'Bat1': '22',
  'Opposition': 'v South Africa',
  'Bat2': '16',
  'Start Date': '25 Nov 2015',
  'Ground': 'Nagpur',
  'BF': '85',
  'Runs': '38',
  'SR': '44.70',
  '6s': '0'},
 'Test # 2239': {'4s': '25',
  'Opposition': 'v England',
  'Bat1': '235',
  'Bat2': '-',
  'Start Date': '8 Dec 2016',
  'Ground': 'Mumbai',
  'Runs': '235',
  'BF': '340',
  '6s': '1',
  'SR': '69.11'},
 'Test # 2250': {'Start Date': '23 Feb 2017',
  'Ground': 'Pune',
  'BF': '39',
  'Runs': '13',
  '6s': '0',
  'SR': '33.33',
  '4s': '1',
  'Bat1': '0',
  'Opposition': 'v Australia',
  'Bat2': '13'},
 'Test # 2251': {'4s': '3',
  'Opposition': 'v Australia',
  'Bat1': '12',
  'Bat2': '15',
  'Start Date': '4 Mar 2017',
  'Ground': 'Bengaluru',
  'Runs': '27',
  'BF': '42',
  '6s': '0',
  'SR': '64.28'},
 'Test # 2249': {'4s': '26',
  'Bat1': '204',
  'Opposition': 'v Bangladesh',
  'Bat2': '38',
  'Start Date': '9 Feb 2017',
  'Ground': 'Hyderabad (Deccan)',
  'BF': '286',
  'Runs': '242',
  '6s': '1',
  'SR': '84.61'},
 'Test # 2256': {'Start Date': '16 Mar 2017',
  'Ground': 'Ranchi',
  'Runs': '6',
  'BF': '23',
  '6s': '0',
  'SR': '26.08',
  '4s': '0',
  'Opposition': 'v Australia',
  'Bat1': '6',
  'Bat2': '-'},
 'Test # 2314': {'4s': '26',
  'Opposition': 'v England',
  'Bat1': '149',
  'Bat2': '51',
  'Start Date': '1 Aug 2018',
  'Ground': 'Birmingham',
  'Runs': '200',
  'BF': '318',
  '6s': '1',
  'SR': '62.89'},
 'Test # 2315': {'Bat1': '23',
  'Opposition': 'v England',
  'Bat2': '17',
  'Start Date': '9 Aug 2018',
  'Ground': "Lord's",
  'BF': '86',
  'Runs': '40',
  'SR': '46.51',
  '6s': '0',
  '4s': '4'},
 'Test # 2265': {'Start Date': '26 Jul 2017',
  'Ground': 'Galle',
  'BF': '144',
  'Runs': '106',
  'SR': '73.61',
  '6s': '1',
  '4s': '5',
  'Bat1': '3',
  'Opposition': 'v Sri Lanka',
  'Bat2': '103*'},
 'Test # 2316': {'4s': '21',
  'Opposition': 'v England',
  'Bat1': '97',
  'Bat2': '103',
  'Start Date': '18 Aug 2018',
  'Ground': 'Nottingham',
  'BF': '349',
  'Runs': '200',
  '6s': '0',
  'SR': '57.30'},
 'Test # 2321': {'BF': '78',
  'Runs': '45',
  '6s': '0',
  'SR': '57.69',
  '4s': '5',
  'Opposition': 'v West Indies',
  'Bat1': '45',
  'Bat2': 'DNB',
  'Start Date': '12 Oct 2018',
  'Ground': 'Hyderabad (Deccan)'},
 'Test # 2267': {'BF': '29',
  'Runs': '13',
  '6s': '0',
  'SR': '44.82',
  '4s': '2',
  'Opposition': 'v Sri Lanka',
  'Bat1': '13',
  'Bat2': '-',
  'Start Date': '3 Aug 2017',
  'Ground': 'Colombo (SSC)'},
 'Test # 2317': {'4s': '10',
  'Bat1': '46',
  'Opposition': 'v England',
  'Bat2': '58',
  'Start Date': '30 Aug 2018',
  'Ground': 'Southampton',
  'BF': '201',
  'Runs': '104',
  'SR': '51.74',
  '6s': '0'},
 'Test # 2318': {'Start Date': '7 Sep 2018',
  'Ground': 'The Oval',
  'BF': '71',
  'Runs': '49',
  '6s': '0',
  'SR': '69.01',
  '4s': '6',
  'Opposition': 'v England',
  'Bat1': '49',
  'Bat2': '0'},
 'Test # 2269': {'BF': '84',
  'Runs': '42',
  'SR': '50.00',
  '6s': '0',
  '4s': '3',
  'Bat1': '42',
  'Opposition': 'v Sri Lanka',
  'Bat2': '-',
  'Start Date': '12 Aug 2017',
  'Ground': 'Pallekele'},
 'Test # 2319': {'Start Date': '4 Oct 2018',
  'Ground': 'Rajkot',
  'BF': '230',
  'Runs': '139',
  'SR': '60.43',
  '6s': '0',
  '4s': '10',
  'Bat1': '139',
  'Opposition': 'v West Indies',
  'Bat2': '-'},
 'Test # 2281': {'4s': '12',
  'Opposition': 'v Sri Lanka',
  'Bat1': '0',
  'Bat2': '104*',
  'Start Date': '16 Nov 2017',
  'Ground': 'Kolkata',
  'Runs': '104',
  'BF': '130',
  '6s': '2',
  'SR': '80.00'},
 'Test # 2283': {'4s': '17',
  'Opposition': 'v Sri Lanka',
  'Bat1': '213',
  'Bat2': '-',
  'Start Date': '24 Nov 2017',
  'Ground': 'Nagpur',
  'Runs': '213',
  'BF': '267',
  '6s': '2',
  'SR': '79.77'},
 'Test # 2333': {'4s': '3',
  'Opposition': 'v Australia',
  'Bat1': '3',
  'Bat2': '34',
  'Start Date': '6 Dec 2018',
  'Ground': 'Adelaide',
  'Runs': '37',
  'BF': '120',
  '6s': '0',
  'SR': '30.83'},
 'Test # 2334': {'4s': '15',
  'Opposition': 'v Australia',
  'Bat1': '123',
  'Bat2': '17',
  'Start Date': '14 Dec 2018',
  'Ground': 'Perth',
  'Runs': '140',
  'BF': '297',
  '6s': '1',
  'SR': '47.13'},
 'Test # 2286': {'BF': '345',
  'Runs': '293',
  '6s': '0',
  'SR': '84.92',
  '4s': '28',
  'Opposition': 'v Sri Lanka',
  'Bat1': '243',
  'Bat2': '50',
  'Start Date': '2 Dec 2017',
  'Ground': 'Delhi'},
 'Test # 2337': {'4s': '9',
  'Opposition': 'v Australia',
  'Bat1': '82',
  'Bat2': '0',
  'Start Date': '26 Dec 2018',
  'Ground': 'Melbourne',
  'Runs': '82',
  'BF': '208',
  '6s': '0',
  'SR': '39.42'},
 'Test # 2292': {'Bat1': '5',
  'Opposition': 'v South Africa',
  'Bat2': '28',
  'Start Date': '5 Jan 2018',
  'Ground': 'Cape Town',
  'BF': '53',
  'Runs': '33',
  '6s': '0',
  'SR': '62.26',
  '4s': '4'},
 'Test # 2293': {'BF': '237',
  'Runs': '158',
  'SR': '66.66',
  '6s': '0',
  '4s': '16',
  'Bat1': '153',
  'Opposition': 'v South Africa',
  'Bat2': '5',
  'Start Date': '13 Jan 2018',
  'Ground': 'Centurion'}}

In [86]:
data_frame = pd.DataFrame.from_dict(data, orient='index')

In [87]:
data_frame

,4s,Bat1,Opposition,Bat2,Start Date,Ground,BF,Runs,SR,6s
Test # 2339,4,23,v Australia,-,3 Jan 2019,Sydney,59,23,38.98,0
Test # 2294,15,54,v South Africa,41,24 Jan 2018,Johannesburg,185,95,51.35,0
Test # 2363,7,20,v South Africa,31*,2 Oct 2019,Visakhapatnam,65,51,78.46,1
Test # 2358,4,9,v West Indies,51,22 Aug 2019,North Sound,125,60,48.00,0
Test # 2359,10,76,v West Indies,0,30 Aug 2019,Kingston,164,76,46.34,0
...,...,...,...,...,...,...,...,...,...,...
Test # 2334,15,123,v Australia,17,14 Dec 2018,Perth,297,140,47.13,1
Test # 2286,28,243,v Sri Lanka,50,2 Dec 2017,Delhi,345,293,84.92,0
Test # 2337,9,82,v Australia,0,26 Dec 2018,Melbourne,208,82,39.42,0
Test # 2292,4,5,v South Africa,28,5 Jan 2018,Cape Town,53,33,62.26,0
Test # 2293,16,153,v South Africa,5,13 Jan 2018,Centurion,237,158,66.66,0

In [88]:
def formatDate(date):
    year = date.split(" ")[-1]
    return year

In [89]:
data_frame['Year'] = data_frame['Start Date'].apply(lambda date: formatDate(date))

In [90]:
data_frame

,4s,Bat1,Opposition,Bat2,Start Date,Ground,BF,Runs,SR,6s,Year
Test # 2339,4,23,v Australia,-,3 Jan 2019,Sydney,59,23,38.98,0,2019
Test # 2294,15,54,v South Africa,41,24 Jan 2018,Johannesburg,185,95,51.35,0,2018
Test # 2363,7,20,v South Africa,31*,2 Oct 2019,Visakhapatnam,65,51,78.46,1,2019
Test # 2358,4,9,v West Indies,51,22 Aug 2019,North Sound,125,60,48.00,0,2019
Test # 2359,10,76,v West Indies,0,30 Aug 2019,Kingston,164,76,46.34,0,2019
...,...,...,...,...,...,...,...,...,...,...,...
Test # 2334,15,123,v Australia,17,14 Dec 2018,Perth,297,140,47.13,1,2018
Test # 2286,28,243,v Sri Lanka,50,2 Dec 2017,Delhi,345,293,84.92,0,2017
Test # 2337,9,82,v Australia,0,26 Dec 2018,Melbourne,208,82,39.42,0,2018
Test # 2292,4,5,v South Africa,28,5 Jan 2018,Cape Town,53,33,62.26,0,2018
Test # 2293,16,153,v South Africa,5,13 Jan 2018,Centurion,237,158,66.66,0,2018

In [91]:
def calculate_inns_average(column_data):
    total_runs = 0
    total_innings = 0
    for data in column_data:
        if "*" in data:
            runs = data.replace("*",'')
            total_runs = total_runs + int(runs)
        elif data=="-" or data=="DNB" or data=="TDNB":
            continue
        else:
            total_runs += int(data)
            total_innings +=1
    return(total_runs,total_innings)

In [92]:
def calculate_average_per_year(data_frame):
    first_inns_data = calculate_inns_average(data_frame["Bat1"])
    second_inns_data = calculate_inns_average(data_frame["Bat2"])
    total_average = round((first_inns_data[0] + second_inns_data[0])/(first_inns_data[1] + second_inns_data[1]),2)
    return (total_average,first_inns_data[1]+second_inns_data[1])

In [93]:
summary_df = data_frame.groupby(['Year'])

In [94]:
averages = []
innings = []
for key, item in summary_df:
    res = calculate_average_per_year(summary_df.get_group(key))
    averages.append(res[0])
    innings.append(res[1])

In [95]:
averages

[22.44, 49.21, 56.0, 44.58, 42.67, 75.94, 75.64, 55.08, 68.0]

In [96]:
summary_df = data_frame.groupby(['Year']).agg({'Opposition': 'count'})
summary_df["Innings"] = pd.Series(innings).values
summary_df["Average"] = pd.Series(averages).values
summary_df.rename(columns={"Opposition":"Matches"},inplace=True)

In [97]:
summary_df

      Matches  Innings  Average
Year
2011        5        9    22.44
2012        9       14    49.21
2013        8       11    56.00
2014       10       19    44.58
2015        9       15    42.67
2016       12       16    75.94
2017       10       14    75.64
2018       13       24    55.08
2019        6        7    68.00